.wrapper {
    margin-top: 6px;
}

.title {
    font-size: 3.2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.content {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}
