.wrapper {
    position: relative;

    display: flex;
    justify-content: center;

    padding: 5px 0;
    background-color: rgb(230, 230, 230);
}

.content {
    position: absolute;
    top: 5px;

    display: flex;
    z-index: 1000;
}
