.title {
    font-size: 3.4rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 2.4rem;

    .info {
        display: flex;
        gap: 20px;
    }
}
